<!DOCTYPE html>
<html>
  <head>
    <title>Endleaf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <p>Override this with app/views/layouts/endleaf.html.erb</p>
    <%= yield %>
  </body>
</html>
